<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Weibo Relation Graph</title>
	<link rel="stylesheet" href="stylesheets/style.css">
    <script src="javascripts/lib/jquery.min.js"></script>
    <script src="javascripts/lib/d3.v3.min.js"></script>
    <script src="javascripts/init.js"></script>
</head>
<body>
	<div id="header">
		<span id="search">
			<input type="search" name="search-input" id="search-input" placeholder="Search" list="search-result" autocomplete="off">
			<datalist id="search-result"></datalist>
		</span>
	</div>
	<div id="graph"></div>
	<script src="javascripts/graph.js"></script>
</body>
</html>